main {
  background-image:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)) , url(/images/m1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}




#row .col{
    transition: 1s;
}


#row .col:hover {
  background-color: #DF2E38;
  transform: scale(1.1);
  transition: 1.2s;
  font-weight: bold;
  color: black;
}
